* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
   list-style: none;
}

img {
   width: 100%;
}

a {
   color: #2867ee;
   text-decoration: none;
}